In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([{'A':'a1','B':'b1','C':'c11,c12,c13,c14'},
                  {'A':'a2','B':'b2','C':'c21,c22,c23'},
                  {'A':'a3','B':'b3','C':'c31,c32,c34,c387'}])

In [4]:
df
# こういうのだとリストに変換する必要があるのか

    A   B                 C
0  a1  b1   c11,c12,c13,c14
1  a2  b2       c21,c22,c23
2  a3  b3  c31,c32,c34,c387

In [22]:
df.assign(C=df['C'].str.split(',')).explode('C')

    A   B     C
0  a1  b1   c11
0  a1  b1   c12
0  a1  b1   c13
0  a1  b1   c14
1  a2  b2   c21
1  a2  b2   c22
1  a2  b2   c23
2  a3  b3   c31
2  a3  b3   c32
2  a3  b3   c34
2  a3  b3  c387