In [3]:
import pandas as pd
import scipy.stats as ss
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy.random as npr
import numpy as np

In [3]:
d1 = pd.read_csv("./data/tokyo_osaka_salary.csv", encoding="cp932", skiprows = 1)
d1.head()

   number  place  salary
0       1  Tokyo   435.9
1       2  Tokyo   622.0
2       3  Tokyo   518.4
3       4  Tokyo   941.7
4       5  Tokyo   655.6

In [16]:
osakas = d1.salary[d1.place=='Osaka']
# np.sum(osaka_s**2)/len(osaka_s)

In [31]:
# χ二乗分布の期待値が自由度と等しくなることを検証したかったがならんかった
z_osakas = (osakas - osakas.mean()) / osakas.std()
# z_osakas.mean()
# z_osakas.std()
W = np.sum(z_osakas**2)
E_W = W/len(osakas)
E_W

0.9777777777777781

マイクロソフトの論文でFV=30としたときの正規化の様子を見たコード

In [19]:
tmp = np.array([60,30,10,20,40,40,31])
mean=30
tmp - mean
(tmp - mean) / mean
# tmp / mean

array([ 1.        ,  0.        , -0.66666667, -0.33333333,  0.33333333,
        0.33333333,  0.03333333])