In [1]:
import pandas as pd
import numpy as np
import inspect
import pprint
from pprint import pprint

In [14]:
# 対話モード >>> に
# コピペで実行できます。
class Friend:
    def __init__(self, name):
        self.name = name

friend = Friend('hogesan')

In [15]:
# 1. identity, 同一性
id(friend)

2792878967344

In [16]:
# 2. class, 型
type(friend)

__main__.Friend

In [17]:
# 3. value, 値(いまは属性くらいに思っていてください)
friend.name

'hogesan'

In [18]:
class Friend:
    def change_name(self, name): #selfはインスタンスオブジェクト
        print('def change_nameが実行された')
        print(self) 
        self.name = name

friend = Friend()


# 1) メソッドでの呼び出し方
friend.change_name('hoge') 
print(friend.name)  


# 2) 関数での呼び出し方
Friend.change_name(friend, 'あ')
print(friend.name)

def change_nameが実行された
<__main__.Friend object at 0x0000028A465A6640>
hoge
def change_nameが実行された
<__main__.Friend object at 0x0000028A465A6640>
あ

In [19]:
class Friend:
    def change_name(self, name): #selfはインスタンスオブジェクト
        self.name = name

        
Friend #これはクラスオブジェクト

# 属性参照
Friend.change_name

In [20]:
friend.change_name('hogemaro')
friend.name

friend.change_name('friend')

def change_nameが実行された
<__main__.Friend object at 0x0000028A465A6640>
def change_nameが実行された
<__main__.Friend object at 0x0000028A465A6640>

In [21]:
class Person(object):
    "sample class person"
    other_name=u"ヒト"
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def method(self):
        pass

print("---------------------------")
print(Person.__name__) #クラス名
print("---------------------------")
print(Person.__module__) # クラスが定義されているモジュールの名前
print("---------------------------")
print(Person.__dict__) # クラスの名前空間が入った辞書
print("---------------------------")
print(Person.__bases__) #定義順の基底クラスのリスト(タプル)
print("---------------------------")
print(Person.__doc__) #クラスのドキュメンテーション文字列。ドキュメンテーション文字列がない場合には None。

---------------------------
Person
---------------------------
__main__
---------------------------
{'__module__': '__main__', '__doc__': 'sample class person', 'other_name': 'ヒト', '__init__': <function Person.__init__ at 0x0000028A4659C820>, 'method': <function Person.method at 0x0000028A4659C5E0>, '__dict__': <attribute '__dict__' of 'Person' objects>, '__weakref__': <attribute '__weakref__' of 'Person' objects>}
---------------------------
(<class 'object'>,)
---------------------------
sample class person

In [22]:
# インスタンス（インスタンスオブジェクト）の特殊属性
person=Person("hogesan", 99)

print(person.__dict__) #インスタンスオブジェクトの属性の辞書
print(person.__class__) #インスタンスのクラス

{'name': 'hogesan', 'age': 99}
<class '__main__.Person'>

In [23]:
# inspect.getmembers(int)

pprint(inspect.getmembers(person))

[('__class__', <class '__main__.Person'>),
 ('__delattr__',
  <method-wrapper '__delattr__' of Person object at 0x0000028A46592DF0>),
 ('__dict__', {'age': 99, 'name': 'hogesan'}),
 ('__dir__', <built-in method __dir__ of Person object at 0x0000028A46592DF0>),
 ('__doc__', 'sample class person'),
 ('__eq__', <method-wrapper '__eq__' of Person object at 0x0000028A46592DF0>),
 ('__format__',
  <built-in method __format__ of Person object at 0x0000028A46592DF0>),
 ('__ge__', <method-wrapper '__ge__' of Person object at 0x0000028A46592DF0>),
 ('__getattribute__',
  <method-wrapper '__getattribute__' of Person object at 0x0000028A46592DF0>),
 ('__gt__', <method-wrapper '__gt__' of Person object at 0x0000028A46592DF0>),
 ('__hash__',
  <method-wrapper '__hash__' of Person object at 0x0000028A46592DF0>),
 ('__init__',
  <bound method Person.__init__ of <__main__.Person object at 0x0000028A46592DF0>>),
 ('__init_subclass__',
  <built-in method __init_subclass__ of type object at 0x0000028A44D05660>),
 ('__le__', <method-wrapper '__le__' of Person object at 0x0000028A46592DF0>),
 ('__lt__', <method-wrapper '__lt__' of Person object at 0x0000028A46592DF0>),
 ('__module__', '__main__'),
 ('__ne__', <method-wrapper '__ne__' of Person object at 0x0000028A46592DF0>),
 ('__new__', <built-in method __new__ of type object at 0x00007FFA9FDEBB50>),
 ('__reduce__',
  <built-in method __reduce__ of Person object at 0x0000028A46592DF0>),
 ('__reduce_ex__',
  <built-in method __reduce_ex__ of Person object at 0x0000028A46592DF0>),
 ('__repr__',
  <method-wrapper '__repr__' of Person object at 0x0000028A46592DF0>),
 ('__setattr__',
  <method-wrapper '__setattr__' of Person object at 0x0000028A46592DF0>),
 ('__sizeof__',
  <built-in method __sizeof__ of Person object at 0x0000028A46592DF0>),
 ('__str__', <method-wrapper '__str__' of Person object at 0x0000028A46592DF0>),
 ('__subclasshook__',
  <built-in method __subclasshook__ of type object at 0x0000028A44D05660>),
 ('__weakref__', None),
 ('age', 99),
 ('method',
  <bound method Person.method of <__main__.Person object at 0x0000028A46592DF0>>),
 ('name', 'hogesan'),
 ('other_name', 'ヒト')]

In [24]:
print("----------------------- print inspect.getmembers(person)")
print(inspect.getmembers(person))
print("-----------------------\n-----------------------\n----------------------- pprint.pprint(inspect.getmembers(person)")
pprint(inspect.getmembers(person))

----------------------- print inspect.getmembers(person)
[('__class__', <class '__main__.Person'>), ('__delattr__', <method-wrapper '__delattr__' of Person object at 0x0000028A46592DF0>), ('__dict__', {'name': 'hogesan', 'age': 99}), ('__dir__', <built-in method __dir__ of Person object at 0x0000028A46592DF0>), ('__doc__', 'sample class person'), ('__eq__', <method-wrapper '__eq__' of Person object at 0x0000028A46592DF0>), ('__format__', <built-in method __format__ of Person object at 0x0000028A46592DF0>), ('__ge__', <method-wrapper '__ge__' of Person object at 0x0000028A46592DF0>), ('__getattribute__', <method-wrapper '__getattribute__' of Person object at 0x0000028A46592DF0>), ('__gt__', <method-wrapper '__gt__' of Person object at 0x0000028A46592DF0>), ('__hash__', <method-wrapper '__hash__' of Person object at 0x0000028A46592DF0>), ('__init__', <bound method Person.__init__ of <__main__.Person object at 0x0000028A46592DF0>>), ('__init_subclass__', <built-in method __init_subclass__ of type object at 0x0000028A44D05660>), ('__le__', <method-wrapper '__le__' of Person object at 0x0000028A46592DF0>), ('__lt__', <method-wrapper '__lt__' of Person object at 0x0000028A46592DF0>), ('__module__', '__main__'), ('__ne__', <method-wrapper '__ne__' of Person object at 0x0000028A46592DF0>), ('__new__', <built-in method __new__ of type object at 0x00007FFA9FDEBB50>), ('__reduce__', <built-in method __reduce__ of Person object at 0x0000028A46592DF0>), ('__reduce_ex__', <built-in method __reduce_ex__ of Person object at 0x0000028A46592DF0>), ('__repr__', <method-wrapper '__repr__' of Person object at 0x0000028A46592DF0>), ('__setattr__', <method-wrapper '__setattr__' of Person object at 0x0000028A46592DF0>), ('__sizeof__', <built-in method __sizeof__ of Person object at 0x0000028A46592DF0>), ('__str__', <method-wrapper '__str__' of Person object at 0x0000028A46592DF0>), ('__subclasshook__', <built-in method __subclasshook__ of type object at 0x0000028A44D05660>), ('__weakref__', None), ('age', 99), ('method', <bound method Person.method of <__main__.Person object at 0x0000028A46592DF0>>), ('name', 'hogesan'), ('other_name', 'ヒト')]
-----------------------
-----------------------
----------------------- pprint.pprint(inspect.getmembers(person)
[('__class__', <class '__main__.Person'>),
 ('__delattr__',
  <method-wrapper '__delattr__' of Person object at 0x0000028A46592DF0>),
 ('__dict__', {'age': 99, 'name': 'hogesan'}),
 ('__dir__', <built-in method __dir__ of Person object at 0x0000028A46592DF0>),
 ('__doc__', 'sample class person'),
 ('__eq__', <method-wrapper '__eq__' of Person object at 0x0000028A46592DF0>),
 ('__format__',
  <built-in method __format__ of Person object at 0x0000028A46592DF0>),
 ('__ge__', <method-wrapper '__ge__' of Person object at 0x0000028A46592DF0>),
 ('__getattribute__',
  <method-wrapper '__getattribute__' of Person object at 0x0000028A46592DF0>),
 ('__gt__', <method-wrapper '__gt__' of Person object at 0x0000028A46592DF0>),
 ('__hash__',
  <method-wrapper '__hash__' of Person object at 0x0000028A46592DF0>),
 ('__init__',
  <bound method Person.__init__ of <__main__.Person object at 0x0000028A46592DF0>>),
 ('__init_subclass__',
  <built-in method __init_subclass__ of type object at 0x0000028A44D05660>),
 ('__le__', <method-wrapper '__le__' of Person object at 0x0000028A46592DF0>),
 ('__lt__', <method-wrapper '__lt__' of Person object at 0x0000028A46592DF0>),
 ('__module__', '__main__'),
 ('__ne__', <method-wrapper '__ne__' of Person object at 0x0000028A46592DF0>),
 ('__new__', <built-in method __new__ of type object at 0x00007FFA9FDEBB50>),
 ('__reduce__',
  <built-in method __reduce__ of Person object at 0x0000028A46592DF0>),
 ('__reduce_ex__',
  <built-in method __reduce_ex__ of Person object at 0x0000028A46592DF0>),
 ('__repr__',
  <method-wrapper '__repr__' of Person object at 0x0000028A46592DF0>),
 ('__setattr__',
  <method-wrapper '__setattr__' of Person object at 0x0000028A46592DF0>),
 ('__sizeof__',
  <built-in method __sizeof__ of Person object at 0x0000028A46592DF0>),
 ('__str__', <method-wrapper '__str__' of Person object at 0x0000028A46592DF0>),
 ('__subclasshook__',
  <built-in method __subclasshook__ of type object at 0x0000028A44D05660>),
 ('__weakref__', None),
 ('age', 99),
 ('method',
  <bound method Person.method of <__main__.Person object at 0x0000028A46592DF0>>),
 ('name', 'hogesan'),
 ('other_name', 'ヒト')]

In [25]:
'''sample_source.py

class Person(object):
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def method(self):
        pass
person=Person("gudon",99)

def func(arg):
    pass
このソースをpyclbrを使って解析する。'''

import pyclbr
import pprint

obj_dict = pyclbr.readmodule('sample_source')

# readmodule関数の戻り値をprint文で表示してみると
# sample_source.pyのPersonクラスの情報がpyclbr.Classクラスのインスタンスに格納されているのがわかる。

print(obj_dict)

# 同様に、readmodule_ex関数を使って関数の情報も取得してみると
# 今度は関数の情報もpyclbr.Functionクラスのインスタンスとして辞書に追加されているのがわかる。
obj_dict = pyclbr.readmodule_ex('sample_source')
pprint.pprint(obj_dict)

{'Person': <pyclbr.Class object at 0x0000028A448C97F0>}
{'Person': <pyclbr.Class object at 0x0000028A448C97F0>,
 'func': <pyclbr.Function object at 0x0000028A448F01C0>}

In [26]:
obj_dict = pyclbr.readmodule_ex('sample_source')
for obj_name,obj_value in obj_dict.items():
    print(obj_name)
    pprint.pprint(vars(obj_value))
    
    
'''Person
{'children': {'__init__': <pyclbr.Function object at 0x000001FAFC65B820>,
              'method': <pyclbr.Function object at 0x000001FAFC65BDF0>},
 'file': 'C:\\Users\\富永隼斗\\rakus_kensyu\\programming\\python\\sample\\sample_source.py',
 'lineno': 1,
 'methods': {'__init__': 2, 'method': 6}, クラスに含まれるメソッド
 'module': 'sample_source',
 'name': 'Person',　クラス名
 'parent': None,
 'super': ['object']}
func
{'children': {},
 'file': 'C:\\Users\\富永隼斗\\rakus_kensyu\\programming\\python\\sample\\sample_source.py',
 'lineno': 10,
 'module': 'sample_source',
 'name': 'func',
 'parent': None}'''

Person
{'children': {'__init__': <pyclbr.Function object at 0x0000028A448F02B0>,
              'method': <pyclbr.Function object at 0x0000028A448C98E0>},
 'file': 'C:\\Users\\富永隼斗\\rakus_kensyu\\programming\\python\\自習\\sample_source.py',
 'lineno': 9,
 'methods': {'__init__': 10, 'method': 14},
 'module': 'sample_source',
 'name': 'Person',
 'parent': None,
 'super': ['object']}
func
{'children': {},
 'file': 'C:\\Users\\富永隼斗\\rakus_kensyu\\programming\\python\\自習\\sample_source.py',
 'lineno': 18,
 'module': 'sample_source',
 'name': 'func',
 'parent': None}

"Person\n{'children': {'__init__': <pyclbr.Function object at 0x000001FAFC65B820>,\n              'method': <pyclbr.Function object at 0x000001FAFC65BDF0>},\n 'file': 'C:\\Users\\富永隼斗\\rakus_kensyu\\programming\\python\\sample\\sample_source.py',\n 'lineno': 1,\n 'methods': {'__init__': 2, 'method': 6}, クラスに含まれるメソッド\n 'module': 'sample_source',\n 'name': 'Person',\u3000クラス名\n 'parent': None,\n 'super': ['object']}\nfunc\n{'children': {},\n 'file': 'C:\\Users\\富永隼斗\\rakus_kensyu\\programming\\python\\sample\\sample_source.py',\n 'lineno': 10,\n 'module': 'sample_source',\n 'name': 'func',\n 'parent': None}"

In [27]:
a = 1

a.__class__

int

In [51]:
df = pd.read_csv("sample_news.csv", index_col=[0,1])
df

               month  day                                          title
genre    year
music    2017      2   12                 The singer sold 1 million CDs.
sports   2017      3   12       Team A won the first game of the season.
         2017      4   14         The athlete will retire by next month.
         2016     12   13  Team B lose for the first time in the season.
politics 2016      8   21            C on Trump tweet calling D a 'dog'.
         2017      5   29                            E won the election.
health   2016      5   30                            Running effectives.
         2017      2   21                         Best foods for health.

In [32]:
df = pd.read_csv("sample_news.csv", index_col=[0,1,2,3]) # インデックスラベルとして0,1,2,3列目のデータを使う
df

                                                                 title
genre    year month day
music    2017 2     12                  The singer sold 1 million CDs.
sports   2017 3     12        Team A won the first game of the season.
              4     14          The athlete will retire by next month.
         2016 12    13   Team B lose for the first time in the season.
politics 2016 8     21             C on Trump tweet calling D a 'dog'.
         2017 5     29                             E won the election.
health   2016 5     30                             Running effectives.
         2017 2     21                          Best foods for health.

In [35]:
news_list = df.sort_index(level=0) # 最も外側 level="genre" h>m>p>s
news_list

                                                                 title
genre    year month day
health   2016 5     30                             Running effectives.
         2017 2     21                          Best foods for health.
music    2017 2     12                  The singer sold 1 million CDs.
politics 2016 8     21             C on Trump tweet calling D a 'dog'.
         2017 5     29                             E won the election.
sports   2016 12    13   Team B lose for the first time in the season.
         2017 3     12        Team A won the first game of the season.
              4     14          The athlete will retire by next month.

In [39]:
news_list = df.sort_index(level='genre') # 最も外側 level="genre" h>m>p>s
news_list

                                                                 title
genre    year month day
health   2016 5     30                             Running effectives.
         2017 2     21                          Best foods for health.
music    2017 2     12                  The singer sold 1 million CDs.
politics 2016 8     21             C on Trump tweet calling D a 'dog'.
         2017 5     29                             E won the election.
sports   2016 12    13   Team B lose for the first time in the season.
         2017 3     12        Team A won the first game of the season.
              4     14          The athlete will retire by next month.

In [36]:
news_list = df.sort_index(level=1) # 内側 level="year"

                                                                 title
genre    year month day
health   2016 5     30                             Running effectives.
politics 2016 8     21             C on Trump tweet calling D a 'dog'.
sports   2016 12    13   Team B lose for the first time in the season.
health   2017 2     21                          Best foods for health.
music    2017 2     12                  The singer sold 1 million CDs.
politics 2017 5     29                             E won the election.
sports   2017 3     12        Team A won the first game of the season.
              4     14          The athlete will retire by next month.

In [60]:
import pandas as pd
from pandas import MultiIndex

arrays = [['foo','foo','bar','bar','baz','baz'],
          ['A','B','A','B','A','B']]

tuples = list(zip(*arrays))

tuples
index = pd.MultiIndex.from_tuples(tuples, names=['grade','class']) # タプルからMultiIndexを作成。階層の名前を'names'で設定できる。

index

series = pd.Series(np.random.randn(6), index=index) # MultiIndexを使ってSeriesを作成する
series

grade  class
foo    A        0.871489
       B        1.553255
bar    A        0.747450
       B        1.764211
baz    A       -0.153146
       B        0.667791
dtype: float64

In [61]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']