In [4]:
import psycopg2

# connect postgreSQL
users = 'postgres' # initial user
dbnames = 'test'
passwords = '#@@#9821'
conn = psycopg2.connect(" user=" + users +" dbname=" + dbnames +" password=" + passwords)

In [6]:

# excexute sql
cur = conn.cursor()
cur.execute('SELECT * FROM addresses;')
results = cur.fetchall()

#output result
print(results)

cur.close()
conn.close()

[('前田 義明', 100, '東京都港区虎ノ門3-2-29'), ('前田 由美', 100, '東京都港区虎ノ門3-2-92'), ('加藤 茶', 200, '東京都新宿区西新宿2-8-1'), ('加藤 勝', 200, '東京都新宿区西新宿2-8-1'), ('ホームズ', 300, 'ベーカー街221B'), ('ワトソン', 400, 'ベーカー街221B')]

In [ ]:
import psycopg2

# 実在するデータベースに接続
>>> conn = psycopg2.connect("dbname=test user=postgres")

# Open a cursor to perform database operations
>>> cur = conn.cursor()

# Execute a command: this creates a new table
>>> cur.execute("CREATE TABLE test (id serial PRIMARY KEY, num integer, data varchar);")

# Pass data to fill a query placeholders and let Psycopg perform
# the correct conversion (no more SQL injections!)
>>> cur.execute("INSERT INTO test (num, data) VALUES (%s, %s)",
...      (100, "abc'def"))

# Query the database and obtain data as Python objects
>>> cur.execute("SELECT * FROM test;")
>>> cur.fetchone()
(1, 100, "abc'def")

# Make the changes to the database persistent
>>> conn.commit()

# Close communication with the database
>>> cur.close()
>>> conn.close()